# Secret passphrase for the backend Admin panel to upload custom route databases
ADMIN_PASSPHRASE=admin123

# MySQL Relational Database Configuration
# If provided, the backend will dynamically fetch and record data into MySQL
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
