# Secret passphrase for the backend Admin panel to upload custom route databases
ADMIN_PASSPHRASE=admin123

# Database configuration: set to "true" to enforce strict MySQL database usage.
# If set to anything else (e.g. "false" or left blank), the backend will use the local SQLite ".db" file.
USE_MYSQL=false

# MySQL Relational Database Configuration
# These are only used if USE_MYSQL is set to true
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
